numpy
torch
pillow
torchvision
typing_extensions
timm
tensorboard
mxnet
opencv-python
einops
matplotlib
scikit-learn
facenet-pytorch
ultralytics
typing
torchstat
torchsummary
ptflops
onnx
onnxruntime
tqdm
sqlalchemy
fastapi
pydantic
uvicorn
orjson
requests
jsonpickle
scipy
psycopg2
imageio
pywebio
pyqt6